/* nav styles */
.nav {
    position: fixed;
    width: 100%;
    top: 78px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 30px 20px -25px rgba(0, 0, 0, 0.75);
    font-family: "Audiowide", sans-serif;
    background-color: rgb(208, 12, 12);
  }
  
  .nav h4 {
    margin-top: 5px;
    color: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .menu-container h1 {
    display: none;
    font-family: "Audiowide", sans-serif;
    color: white;
  }

/* mobile styles */

@media only screen and (max-width: 410px) {
    .navigation {
        z-index: 3;
    }
    .background {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
    }
    .nav {
        margin-top: 20px;
        background-color: transparent;
        opacity: 1;
        z-index: 1;
      }
      .nav h1 {
        color: white;
        font-size: 25px;
      }
      .nav h4 {
        font-size: 18px;
      }
      .burger-line {
        width: 2em;
        height: 0.323em;
        background-color: rgb(94, 80, 80);
        border-radius: .5em;
    }
        .burger-icon {
        max-width: none;
        position: fixed;
        top: 6px;
        left: 5px;
        z-index: 1;
        height: 30px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        cursor: pointer;
    }
    .visible {
        display: inherit;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 15px;
        left: 0;
        opacity: 1;
        visibility: visible;
        transition: opacity 200ms linear;
    }

    .menu-container {
        background-color: rgb(198, 14, 14);
        width: 37%;
        height: 50%;
        padding: 0;
        margin: 0;
        position: fixed;
        z-index: 1;
    }

    .menu-container h1 {
        display: block;
        color: white;
    }

    .menu h4 {
        /* border: 1px solid black; */
        padding: 5px;
        background-color: rgb(24, 40, 147);
        border-radius: 10px;
    }

    .menu {
        /* background-color: rgb(190, 11, 11); */
        width: 150px;
        position: fixed;
        top: 75px;
        left: 1px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .nav h1 {
        display: block;
        margin-top: 5px;
    }
    
    .hidden {
        display: inherit;
        height: 46%;
        width: 37%;
        position: fixed;
        top: 15px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 150s, opacity 1s linear;
    }
    
    /* animations */
    .burger-line.clicked:nth-child(1){
        transform: rotate(45deg) translate(0.5em, .50em);
        transition: ease-out 0.2s;
    }
    
    .burger-line.clicked:nth-child(2){
        transform: scale(0);
    }
    
    .burger-line.clicked:nth-child(3){
        transform: rotate(135deg) translate(-0.20em, .25em);
        transition: ease-out 0.2s;
    }
    
    .burger-line.unclicked {
        transform: rotate(0) translate(0);
        transition: ease-out 0.2s;
    }
} 