@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

/* header styles  */

.header {
  background-color: rgb(11, 24, 168);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
}

.header img {
  margin-top: 4px;
  height: 52px;
}

.header h1 {
  color: white;
  font-family: "Audiowide", sans-serif;
  margin-top: 4px;
}

/* kit styles */
.kit_art {
  height: 200px;
  padding: 0;
  margin: 0;
}

/* index page  */

.container {
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  top: 78px;
  max-width: none;
  padding: 0;
  height: 100vh;
}
.container button {
  margin-top: 18px;
  color: black;
  background-color: red;
  outline: none;
  border: none;
}

.gallery {
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 12px;
  padding-bottom: 100px;
  margin-top: 40px;
}

.gallery img {
  height: 200px;
  width: 300px;
  margin: 0;
  padding: 0;
}

/* show page  */

.show-container {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 750px;
  position: absolute;
  top: 72px;
  width: 100%;
  left: 0;
  height: 810px;
}

.card {
  margin-top: 15px;
  border-radius: 10px;
  padding: 12px;
}

.card img {
  height: 300px;
}

.buttons {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.delete {
  height: 38px;
}

.delete button {
  margin-top: 8px;
}

button {
  background-color: red;
  border: none;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* nav styles */
.nav {
  position: fixed;
  width: 100%;
  top: 78px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 20px -25px rgba(0, 0, 0, 0.75);
  font-family: "Audiowide", sans-serif;
  background-color: rgb(208, 12, 12);
}

.nav h4 {
  margin-top: 5px;
  color: white;
  margin: 3px;
}

/* Form styles  */

.input {
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  top: 78px;
  max-width: 100%;
  padding: 0;
  height: 100vh;
}

.input button {
  margin-top: 18px;
  color: black;
  background-color: red;
  outline: none;
  border: none;
}

#release_date {
  color: rgb(87, 80, 80);
}

.form {
  padding: 20px;
  max-width: none;
  justify-content: center;
  align-items: center;
}

label {
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-left: 560px;
}

input {
  width: 200px;
  border: 1px solid black;
  color: black;
}

/* footer styles  */

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgb(243, 243, 0);
  width: 100%;
  left: 0;
  box-shadow: 0px -12px 30px rgba(82, 81, 81, 0.75);
}

.footer h5 {
  color: black;
  margin-top: 10px;
  margin: 2px;
}

.links {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 3px;
}

.links img {
  height: 35px;
}

@media only screen and (max-width: 410px) {
  .header {
    margin: auto;
    padding: 0;
    height: 35px;
    background-color: rgb(241, 237, 6);
  }
  .header h1 {
    font-size: 23px;
    position: fixed;
    left: 40px;
    color: black;
  }
  .header img {
    height: 25px;
    position: fixed;
    left: 5px;
  }
  .nav {
    top: 35px;
  }
  .container {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .gallery {
    margin-top: -16px;
    gap: 28px;
    padding-bottom: 35px;
  }
  .gallery img {
    height: 150px;
    width: 150px;
  }
  .footer h5 {
    display: none;
  }
  .footer {
    height: 40px;
    padding: 4px;
    background-color: rgb(36, 14, 235);
  }
  .links img {
    height: 30px;
  }
  label {
    margin: auto;
    width: 300px;
  }
  .input {
    position: fixed;
    top: 35px;
    left: 0;
    min-height: 100px;
    padding: 8px;
  }
  .edit-head {
    margin-top: 45px;
    font-size: 30px;
  }
  .add-head {
    margin-top: 25px;
    font-size: 30px;
  }
  .nav {
    gap: 20px;
  }
  .nav h4 {
    font-size: 17px;
  }
  .card img {
    height: 235px;
  }
  .lists {
    margin-top: 30px;
    gap: 10px;
  }
  .card {
    font-size: 15px;
  }
  .card h1 {
    font-size: 30px;
  }
  .card h2 {
    font-size: 25px;
  }
  .card h3 {
    margin-top: 20px;
  }
  .id {
    margin-top: 20px;
  }
  .release {
    margin-top: 20px;
  }
  .show-container {
    top: 30px;
  }
  .buttons {
    position: absolute;
    top: 700px;
    left: 27px;
    gap: 20px;
  }
  .delete button {
    margin-top: 8px;
  }
  button {
    background-color: red;
    border: none;
  }
}
